{% load static %}
<footer class="row-cols-1 row-cols-sm-2 row-cols-md-5 pt-5 border-top bg-primary d-flex flex-column">
    <div class="col mb-3 ms-5">
        <h5>You've reached the end!</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="https://instagram.com/senaditya" class="nav-link p-0 text-body-secondary">Instagram</a></li>
            
            <li class="nav-item mb-2"><a href="https://twitter.com/senaditya" class="nav-link p-0 text-body-secondary">Twitter</a></li>
        </ul>
    </div>
    <div class="col d-flex ps-5 py-3 w-100" id="copyright">
        <span class="text-body-secondary">&copy; 2024 PythonTutorials
        </span>
    </div>
</footer>